@{
    ViewBag.Title = "Über uns";
}

<style>
    .flexCenter {
        display: flex;
        align-content: center;
        justify-content: center;
    }
</style>

<h2 class="text-center">Über Uns</h2>

<div class="row">
    <div class="col-sm-offset-3 col-sm-6 text-center">
        <img height="200" src="/Content/Images/Homepage/banner.png" />
    </div>
</div>

<div class="row" style="margin-top: 2rem;">
    <div class="col-sm-offset-3 col-sm-6">
        <p>Wir vom Game Over Game Store sind seit über 30 Jahren dein erster Ansprechpartner in allen Spiele-Fragen.</p>
        <p>Egal ob Analog oder Digital - ob Brettspiele, Kartenspiele, Rollenspiele, ob Nintendo, Sony, Microsoft - wir haben sie alle! Und es ist auch garantiert etwas für jeden dabei, egal ob jung oder alt.</p>
        <p>Seit über 15 Jahren versorgen wir Wien mit den Bestsellern und den Geheimtipps - seit kurzem auch online!</p>
        <p>Stöber <a href="/Products/">online durch unseren Store</a> oder besuche uns in unserem Store in Simmering.</p>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col flexCenter">
        <table>
            <thead>
                <tr>
                    <th colspan="2" class="text-center" style="font-size: larger;">Öffnungszeiten</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Montag</b></td>
                    <td class="text-right">09-20 Uhr</td>
                </tr>
                <tr>
                    <td><b>Dienstag & Mittwoch</b></td>
                    <td class="text-right">09-18 Uhr</td>
                </tr>
                <tr>
                    <td><b>Donnerstag</b></td>
                    <td class="text-right">09-20 Uhr</td>
                </tr>
                <tr>
                    <td><b>Freitag</b></td>
                    <td class="text-right">10-18 Uhr</td>
                </tr>
                <tr>
                    <td><b>Samstag</b></td>
                    <td class="text-right">10-18 Uhr</td>
                </tr>
                <tr>
                    <td><b>Sonn- & Feiertags</b></td>
                    <td class="text-right">geschlossen</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr />
<div class="row">
    <h3 class="text-center">Kontaktdaten und Impressum</h3>
    <div class="col flexCenter">
        <table>
            <tbody>
                <tr><td>Game Over Game Store GmbH (fiktive Firma)</td></tr>
                <tr><td>Simmeringer Hauptstraße 55-57</td></tr>
                <tr><td>1110 Wien</td></tr>
                <tr><td><i class="glyphicon glyphicon-phone"></i>: +43 1 123 45 67</td></tr>
                <tr><td><i class="glyphicon glyphicon-envelope"></i>: store@gameover.fake</td></tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row" style="margin-top: 1rem;">
    <div class="col flexCenter">
        <table>
            <tbody>
                <tr><td><b>Inhalt. Verantwortlicher:</b> Ing. Max Mustermann</td></tr>
                <tr><td><b>Verantwortlich im Sinne des Presserechts (V.i.S.d.P.):</b> Ing. Max Mustermann</td></tr>
                <tr><td><b>Zuständiges Gericht:</b> Handelsgericht Wien</td></tr>
                <tr><td><b>Firmenbuch:</b> FN 123456A</td></tr>
                <tr><td><b>Behörde gem. ECG:</b> Magistratisches Bezirksamt des XI. Bezirkes</td></tr>
                <tr><td><b>USt.Id.#:</b> ATU12345678</td></tr>
                <tr><td><a href="/Home/AGBs"><b>AGBs</b> können hier nachgelesen werden</a></td></tr>
            </tbody>
        </table>
    </div>
</div>
