@model LapProject.Models.Order.CompletedVm
@{
    ViewBag.Title = "Completed";
}

<h2>Bestellung erfolgreich aufgegeben!</h2>

<div class="row">
    <div class="col">
        Vielen Dank für Ihre Bestellung!
    </div>
</div>

<div class="row">
    <div class="col">
        Bitte überweisen Sie den Gesamtbetrag <b>(@Model.TotalPrice)</b> bitte auf unser Kontor und geben Sie als Verwendungszweck die Bestellnummer (@Model.OrderId) an.
    </div>
</div>

<div class="row">
    <div class="col">
        Nach Zahlungseingang wird die Ware umgehend versendet.
    </div>
</div>

<div class="row">
    <div class="col">
        <h4>Kontoverbindung:</h4>
        <b>Inhaber:</b> Game Over Game Store GmbH (fiktive Firma)<br />
        <b>Bank:</b> FakeBank AG<br />
        <b>IBAN:</b> AT12 1234 1234 1234 1234<br />
        <b>BIC:</b> FBK1234
    </div>
</div>