@{
    ViewBag.Title = "CompletedCreditCardFinished";
}

<h2>Bestellung erfolgreich aufgegeben!</h2>

<div class="row">
    <div class="col">
        Vielen Dank für Ihre Bestellung!
    </div>
</div>

<div class="row">
    <div class="col">
        Nach Zahlungseingang wird die Ware umgehend versendet.
    </div>
</div>